<div>
    <div>
      <h1>
        Ask Ben - Step 2
      </h1>
      <h3>
        My Question: <%= @the_decision.name %>
      </h3>
      <h3>
        What are your options?
      </h3>
    <div>
  <div>
    <table border="1">
      <tr>
        <th>
          Options
        </th>
      </tr>

      <% @the_decision.options.each do |a_option| %>
      <tr>
        <td>
          <%= a_option.name %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
    
    <form action="/insert_option" method="post">
      <div>
        <label for="name_box">
          Option:
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

  <hr>

      <div>
        <label for="decision_id_box">
        </label>

        <input type="hidden" id="decision_id_box" name="query_decision_id" value="<%= @the_decision.id %>">
      </div>

      <button>
        Add Option
      </button>
    </form>

      <!--this part is where it is going to send them to the scoring part-->
    <form action="/decisions_criteria/ <%= @the_decision.id  %> "> 
      

      <button>
        Done adding options
      </button>
    </form>
