

<div class="intro">
		<p><strong>What are your options?</strong></p>
		<form action="/insert_option" method="post">
      <div>
        <input type="text" id="name_box" name="query_name" class="input">
      </div>

      <div>
        <label for="decision_id_box">
        </label>

        <input type="hidden" id="decision_id_box" name="query_decision_id" value="<%= @the_decision.id %>">
      </div>

      <button class="cta">
        Add Option
      </button>
    </form>

<div>
    
  <div>
    <table border="1" class="table">
      <tr>
        <th class="th">
          Options
        </th>
      </tr>

      <% @the_decision.options.each do |a_option| %>
      <tr>
        <td class = "td">
          <%= a_option.name.strip().capitalize %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

    <form action="/decisions_criteria/ <%= @the_decision.id  %> "> 
      

      <button class="cta">
        Done adding options
      </button>
    </form>
</div>
