<div>
  <div>
    <h1>
      Ask Ben - Step 5
    </h1>
    <h3>
      My Question: <%= @the_decision.name %>
    </h3>
    <h3>
      Now, score each option based off of the criteria you created (1 is a low score, 5 is a high score)
    </h3>
    <p> Quick hint: if price is your criteria, for a high price you would give it a lower score </p>
  <div>

<table border="1">
  <thead>
    <tr>
      <th>Options</th>
      <% @criteria.each do |c| %>
        <th><%= c.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @options.each do |o| %>
      <tr>
        <td><%= o.name %></td>
        <% @criteria.each do |c| %>
          <td>
              <%= select_tag "rating[#{o.id}][#{c.id}]", options_for_select([['1',1],['2',2],['3',3],['4',4],['5',5]]) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
