
<div class="intro">
    <strong>Your Question: <%= @the_decision.name.strip().capitalize %></strong>
</div>


<div class="intro">
		<p><strong>What are your criteria?</strong></p>
    <p> For example, if you're deciding where to eat dinner, some criteria that may be important are: price, quality, and delivery time. </p>

    <form action="/insert_criterium" method="post">
      <div>
        <input type="text" id="name_box" name="query_name" class="input">
      </div>

      <div>
        <label for="weight_box">
        </label>

        <input type="hidden" id="weight_box" name="query_weight" value="0">
      </div>

      <div>
        <label for="decision_id_box">
        </label>

        <input type="hidden" id="decision_id_box" name="query_decision_id" value="<%= @the_decision.id %>" >
      </div>

      <button class="cta">
        Add criteria
      </button>
    </form>

    <div>
      <table border="1" class="table">
        <tr>
          <th class="th">
            Criteria
          </th>
        </tr>

        <% @the_decision.criteria.each do |a_criterium| %>
        <tr>
          <td class="td">
            <%= a_criterium.name %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>

    <form action="/decisions_weights/<%= @the_decision.id.to_s.strip %>">
      <button class="cta">
        Done creating criteria
      </button>
    </form>


</div>
