	<div class="intro">
		<p><strong>Not sure where to eat dinner tonight? Which girl to propose to? Or whether to throw it all on black? The Decision Maker is here to help!</strong></p>
		<p>Our trusty tool helps you break down your options and evaluate them based on the things that matter most to you. That way, you can make informed choices that align with your priorities and goals!</p>
		<a href="/decisions" class="cta">Try it out</a>
	</div>

  <div class="title">
    <h2>How it works</h2>
  </div>

  <section class="section">
		<div class="card">
			<h4>Step 1: List Your Options</h4>
			<p>List as many options as you'd like! If there are 20 pairs of shoes you want to buy, but you can only afford 1, list all 20. If you want to answer a yes or no, that works as well.</p>
		</div>
		<div class="card">
			<h4>Step 2: Input Your Criteria</h4>
			<p>This is where you will decide what is most important to you. For example, when buying shoes, some criteria may be comfort, durability, or clout. You will then weigh the importance of each criteria you inputted.</p>
		</div>
    <div class="card">
			<h4>Step 3: Score Your Options</h4>
			<p>This is where the best options separate themselves. Here you will score (1 - 5) each option based on the criteria. For example if you're looking at buying a NewBalance, you're going to give it a 5 for comfort.</p>
		</div>
	</section>
