<!DOCTYPE html>
<html>
  <head>
    <title>The Decision-Maker</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <style>

    body {
			font-family: Arial, sans-serif;
			background-color: #fff;
			color: #333;
		}

    .header {
			background-color: #3399ff;
			color: #fff;
			padding: 20px;
			text-align: center;
			font-size: 1.7em;
			margin: 0;
			border-radius: 0 0 50% 50%;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
		}

    h1 {
			margin: 0;
		}

    .card {
      max-width: 100%;
			margin-bottom: 20px;
      background-color: #fff;
      padding: 1em;
      margin: 1em;
      flex: 1 0 300px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
    }

		.resources {
			margin: 50px auto;
			max-width: 800px;
			text-align: center;
		}

		.resources img {
			max-width: 100%;
			margin-bottom: 20px;
			border-radius: 20px;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
		}

    .section {
      padding: 1em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
    }

    .card {
      background-color: #fff;
      padding: 1em;
      margin: 1em;
      flex: 1 0 300px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
    }

    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .card h4 {
      margin-top: 0;
    }

    .table {
      border-collapse: collapse;
      width: 75%;
      font-family: Arial, sans-serif;
      font-size: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .th {
      background-color: #efefef;
      color: #333333;
      text-align: center;
      padding: 10px;
      border: 1px solid #cccccc;
      text-transform: uppercase;
    }

    .td {
      border: 1px solid #cccccc;
      padding: 10px;
    }

    .tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    .input {
      font-size: 1em;
      background-color: #f2f2f2;
      border: none;
      border-radius: 25px;
      padding: 12px 20px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      width: 50%;
    }

		.cta {
			display: inline-block;
			padding: 20px 40px;
			background-color: #3399ff;
			color: #fff;
			text-decoration: none;
			font-weight: bold;
			border-radius: 10px;
			transition: all 0.3s ease-in-out;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
			font-size: 1.2em;
			font-family: Arial, sans-serif;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		.cta:hover {
			background-color: #27ae60;
			transform: scale(1.05);
		}

		.quote {
			font-style: italic;
			font-size: 1.5em;
			margin-top: 50px;
			margin-bottom: 0;
			text-align: center;
		}
    
		.title {
			font-size: 2em;
			font-weight: bold;
			margin-bottom: 10px;
      text-align: center;
		}

    .intro {
			margin: 50px auto;
			max-width: 800px;
			text-align: center;
			font-size: 1.5em;
			line-height: 1.5;
			border: 5px solid #3399ff;
			padding: 20px;
			border-radius: 20px;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
		}

		.intro img {
			max-width: 100%;
			margin-bottom: 20px;
		}

    .footer {
			padding: 20px;
			text-align: center;
		}
		.footer p {
			margin: 0;
			font-size: 1.0rem;
		}

	  </style>

  </head>

  <header class="header">
		<h1>The Decision-Maker</h1>
	</header>

  <body>
    <%= yield %>
  </body>

  <footer class="footer">
		  <p>&copy; 2023 The Decision-Maker. All rights reserved.</p>
	</footer>
</html>
